---
import type { LandingData } from '../../types/landing';

export interface Props {
  brand: LandingData['brand'];
}

const { brand } = Astro.props;
---

<header class="site-header">
  <div class="container site-header__inner">
    <a class="site-brand" href="/">
      <strong>{brand.brandName}</strong>
      <span>{brand.subject} 템플릿 초기 세팅</span>
    </a>
  </div>
</header>
